body{
    background-size: cover;
    background-color:rgb(109, 34, 34);
    background-attachment: fixed;
}
main{
    position: relative;
}
.navegacao{
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
}
.navegacao label{
    padding: 10px 0;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    align-items: center;
    text-align: center;
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 200%;
    color: #fff;
}
.scroll input{
    display: none;
}
.scroll{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.navegacao label:hover{
    background-color: rgba(255, 255, 255, .2);
}
.sections{
    transition: all .4s;
}
#experiencias:checked ~ .sections{
    margin-top: -100vh;
}
#outros:checked ~ .sections{
    margin-top: -200vh;
}
.bloco{
    width: 100vw;
    height: 100vh;
}
.foto{
    display: flex;
}
.foto-perfil{
    width: 190px;
    height: 190px;
    border: 2px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-size: 300%;
    text-align: center;
}
#s_dados{
    background-color: rgb(36, 35, 35);
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}
#s_experiencias{
    background-color: rgb(93, 37, 145); 
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
}
#s_outros{
    background-color: rgb(109, 34, 34); 
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
}
.dados-texto{
    color: aliceblue;
    width: 48.5em;
    margin: auto;
}
.dados-texto p{
    padding: 3px 0;
    text-align: justify;
}
.experiencia-texto{
    color: aliceblue;
    width: 50em;
    margin: auto;
}
.experiencia-texto p{
    padding: 3px 0;
}
.outras-texto{
    color: aliceblue;
    width: 44em;
    margin: auto;
}
.bloco p{
    font-size: 145%;
    text-align: justify; 
}
.texto-experiencia{
    text-align: justify;
}
.icones-sociais li{
    display: inline-block;
}
.icones{
    display: flex;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
}
.icones a i{
    color: aliceblue;
    font-size: 40px;
    transition: all .5s ease-out;
    padding:0 2px;
 }
.linkedin i:hover{
    cursor: pointer;
    color: #007bb5;
}
.github i:hover{
    cursor: pointer;
    color: #595a5a;
}
.rodape{
    position: fixed; 
    box-sizing: border-box;
    clear: both;   
    bottom: 0;
    width: 100%;
    padding-left: 2em;
    padding-top: .5em;
    height: 30px;
    color: white;
}
strong{
    font-weight: bold;
}
em{
    font-style: italic;
}
@media (max-width: 600px){
    .navegacao label{
        font-size: 100%;
        padding-top: 4%;
    }
    .foto-perfil{
        height: 50%;
        width: 50%;
    }
    h1{
        font-size: 150%;
    }
    .bloco p{
        font-size: 85% !important;
    }
    .dados-texto{
        width: 85%;
    }
    .experiencia-texto{
        width: 85%;
    }
    .outras-texto{
        width: 85%;
    }
    .icones a i{
        font-size: 200%;
    }
    .rodape{
        font-size: 65%;
    }
}