body{
    background-size: cover;
    background-color:rgb(109, 34, 34);
    background-attachment: fixed;
}

main{
    position: relative;
}

.navegacao{
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
}

.navegacao label{
    padding: 10px 0;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    align-items: center;
    text-align: center;
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 2em;
    color: #fff;
}

.scroll input{
    display: none;
}

.scroll{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.navegacao label:hover{
    background-color: rgba(255, 255, 255, .2);
}

.sections{
    transition: all .4s;
}

#experiencias:checked ~ .sections{
    margin-top: -100vh;
}

#outros:checked ~ .sections{
    margin-top: -200vh;
}

.bloco{
    width: 100vw;
    height: 100vh;
}

#s_dados{
    background-color: rgb(51, 50, 50);
    justify-content: center;
    align-items: center;
    display: flex;
}

#s_experiencias{
    background-color: rgb(93, 37, 145); 
    align-items: center;
    justify-content: center;
    display: inline-flex;

}

#s_outros{
    background-color: rgb(109, 34, 34); 
    align-items: center;
    justify-content: center;
    display: inline-flex;

}

.dados-texto{
    color: aliceblue;
}

.experiencia-texto{
    color: aliceblue;
}

.outras-texto{
    color: aliceblue;
}

.bloco p{
    font-size: 1.5em
}

.icones-sociais li{
    display: inline-block;
}

.rodape{
    background-color: rgba(0, 0, 0, .7);
    position: fixed; 
    box-sizing: border-box;
    clear: both;   
    bottom: 0;
    width: 100%;
    padding-left: 2em;
    padding-top: .5em;
    height: 30px;
    color: white;
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}
